/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-attachment: fixed;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), Arial, sans-serif;
  font-variation-settings: 'wght' var(--main-text-weight);
  background-color: var(--bg-color);
  color: var(--accent-color);
  background-image: repeating-linear-gradient(to right, var(--gradient-color-strip) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, var(--gradient-color-strip) 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, var(--top-gradient-color) 0.01%, var(--bot-gradient-color) 100%);
  background-size: cover;
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--accent-font);
  width: min(100%, 700px);
  /* height: clamp(20.438rem, 14.604rem + 13.993vw, 23rem); */
  background: var(--header-bg-color);
  border: 2px solid var(--accent-color);
  padding: 136px 120.5px 25px 120.5px;
  font-weight: normal;
  margin-bottom: 100px;
}

.header__title {
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.677rem + 0.845vw, 1.438rem);
  text-transform: uppercase;
  margin-bottom: 25px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding-left: 14px;
  margin: 0;
  line-height: 14px;
}

.theme-menu__item {
  padding: 0;
  margin: 0;
}

.theme-menu__button {
  position: relative;
  background: transparent;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
  transition: opacity 0.3s ease;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  display: block;
  position: absolute;
  content: '▶';
  block-size: 14px;
  inline-size: 14px;
  left: -20px;
  animation-name: active-theme;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
}

.theme-menu__button::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid var(--accent-color);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  transition: transform 0.3s ease-in-out;
  transform-origin: 0;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:hover {
  opacity: 0.6;
  /* transition: opacity 0.3s ease; */
}

.content {
  width: min(100%, 696px);
}

.content__card-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  width: min(100%, 696px);
  outline: 2px solid var(--accent-color);
}

.card__title {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--main-title-weight);
  font-size: 18px;
  padding: 5px 10px;
  line-height: 21.78px;
  outline: 2px solid var(--accent-color);
}

.card__image-container {
  position: relative;
  outline: 2px solid var(--accent-color);
  max-height: 696px;
}

.card__image {
  width: 100%;
  /* outline: 2px solid var(--accent-color); */
  max-height: 696px;
  object-fit: cover;
}

.filter-dark-green {
  filter: brightness(30%);
}

.image__label {
  position: absolute;
  right: 25px;
  top: 25px;
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: 
  -1px 0px var(--label-border-color),
  0px 1px var(--label-border-color),
  1px 0px var(--label-border-color),
  0px -1px var(--label-border-color);
  z-index: 1;
}

.filter-brightness {
  filter: brightness(30%);
}

.filter-contrast {
  filter: contrast(140%);
}

.filter-blur {
  filter: blur(1px);
}

.filter-opacity {
  filter: opacity(0.7);
}

.filter-grayscale {
  filter: grayscale(1);
}

.filter-saturate {
  filter: saturate(240%);
}

.filter-hue-rotate {
  filter: hue-rotate(100deg);
}

.filter-multiple {
  filter: invert(1) brightness(30%) saturate(60%) hue-rotate(90deg);
}

@supports ((text-stroke: 1px var(--labelborder-color)) or (-webkit-text-stroke: 1px var(--label-border-color))) {
  .image__label {
    -webkit-text-stroke: 1px var(--label-border-color);
    text-stroke: 1px var(--label-border-color);
    text-shadow: none;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 27px;
  background-color: var(--bg-color);
  outline: 2px solid var(--accent-color);
  padding: 27px 25px 25px 25px;
  
}

.card__text {
  display: flex;
  flex-direction: column;
  row-gap: 27px;
  font-family: var(--main-font);
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-text-weight);
  line-height: 21px;
}

.button__container {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
  max-height: 38px;
}

.button {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  font-variation-settings: 'wght' 400;
  line-height: 90%;
  transition: box-shadow 0.3s ease;
}

.card__like-button {
  column-gap: 12px;
  padding: 9px 17px;
  inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--hover-like-button-text);
  mix-blend-mode: difference;
  line-height: 12.6px;
  font-size: 14px;
  font-weight: 400;
}

.button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--accent-color);
  transform: scaleX(0);
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform-origin: 0;
}

.button:hover::before {
  transform: scaleX(1);
}

.button:focus {
  box-shadow: 2px 2px 0px var(--accent-color);
  /* transition: box-shadow 0.3s ease; */
}

.button:focus-visible {
  outline: none;
}

.card__icon-button {
  background-color: transparent;
  display: flex;
  align-items: center;
  border: 0;
  cursor: pointer;
  padding: 0;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: -2px;
  /* transition: outline 0.3s ease; */
}

.core {
  fill: none;
}

.main-body {
  fill: none;
}

.sparks {
  fill: none;
}

.like-icon .main-body {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon .core {
  fill: transparent;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0.03s;
}

.like-icon .countour {
  fill: var(--heart-color-countour);
  transition-duration: 0.1s;
  transition-timing-function: linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-main-body-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--heart-main-body-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--heart-main-animation-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--heart-main-animation-color);
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--heart-main-animation-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-main-animation-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .countour {
  fill: var(--heart-main-animation-color);
  transition-delay: 0.06s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .heart {
  animation-name: scale-heart;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation-name: animation-sparks;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.footer__button {
  background-color: var(--bg-color);
  padding: 15px 21px 15px 19px;
  gap: 8px;
}

.floppy-icon {
  width: 21px;
  height: 21px;
  color: var(--hover-like-button-text);
  mix-blend-mode: difference;
}

.dialog-window {
  inline-size: 353px;
  outline: 2px solid var(--accent-color);
  background-color: var(--bg-color);
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
}

.dialog-window[open] {
  display: flex;
  border: 0;
}

.dialog-window::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-window__content {
  display: flex;
  color: var(--accent-color);
  justify-content: space-between;
  gap: 20px;
}

.dialog-window__content-icon {
  width: 39px;
  height: 39px;
  min-width: 39px;
  min-height: 39px;
  margin: 12px 0;
  color: var(--hover-like-button-text);
  mix-blend-mode: difference;
}

/* .dialog-window__content-icon use {
  display: flex;
  width: 39px;
  height: 39px;
  min-width: 39px;
  min-height: 39px;
  fill: red;
  background-color: red;
} */

.dialog-window__content-text {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  text-align: left;
}

.dialog-window__close-button {
  width: 100%;
  padding: 12.5px 0;
  text-transform: uppercase;
}

@media (width <= 375px) {
  .header {
    padding: 120px 14px 25px 14px;
  }

  .card__content {
    padding: 25px 27px 25px 27px;
  }

  .image__label {
    right: 13px;
  }

  .card__image {
    max-height: 375px;
  }

  .footer__button {
    display: flex;
    flex-direction: column;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }
}